.Classe{
    display:inline-block;
    height:32px;
    font-size:13px;
    font-weight:900;
    color:rgba(0,0,0,0.6);
    line-height:32px;
    padding:0 12px;
    border-radius:16px;
    margin-bottom:5px;
    margin-right:5px
}

.S {
    font-weight:900;
}

.A {
    font-weight:700;
}

.B {
    font-weight:500;
}

.C {
    font-weight:100;
}

.heroName{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}

.cardbg{
    background: linear-gradient(0.40turn, #D1E9F1, #D5E7EC, #EDF2F4);
}

.dragon-background{
    background: linear-gradient(0.40turn, #e7e0db, #ff7e33, #EDF2F4);
}

.eau-background{
    background: linear-gradient(0.40turn, #e7e0db, #33ffe6, #EDF2F4);
}

